/* :root {
  --orange: #D4541E;
  --orange-light: #E8673A;
  --dark: #111110;
  --dark-2: #1A1A18;
  --dark-3: #242421;
  --cream: #F5F0E8;
  --cream-2: #EDE8E0;
  --text-muted: #8A8780;
  --border: rgba(255,255,255,0.08);
} */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f6fa;
}

.layout{
    display:flex;
}

.sidebar{
    width:250px;
    min-height:100vh;
    background:#111110;
    color:white;
    padding:20px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    margin-bottom:40px;
    text-align: center;
}
.sidebar {
    background: #151515;
    width: 250px;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a:hover {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;
    color: white;

    padding: 12px;
}

.sidebar ul li a img {
    width: 22px;
    height: 22px;

    object-fit: contain;
}




.sidebar a:hover{
    background:#0b2b57;
}

.content{
    flex:1;
    padding:30px;
}